h1 {
    font-size: 4rem;
}

li {
    font-size: 2rem;
    font-weight: bold;
}

li:hover {
    background-color: rgba(0, 0, 0, .1);
}

/* .completed {
    color: gray;
    text-decoration: line-through;
} */